adherer.html
<!DOCTYPE html><html><head lang="en"><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Eco-batissons</title><link rel="stylesheet" href="css/main.css"><link rel="stylesheet" href="css/libs/lightbox.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Great+Vibes" rel="stylesheet"><script src="http://livejs.com/live.js"></script></head><body></body></html><div class="header"><div class="logo"><div class="logo-child"><img src="img/logo.jpg"></div><div class="text"> <img src="img/ensemble.jpg" style="max-width:306px"><p style="color:#008ece; font-weight:600">Accueil projet - 07 68 78 71 61 - contact@ecobatissons.fr</p></div><a href="https://www.facebook.com/ecobatissons/" target="_new"><img src="img/fb.png"></a></div><div class="frise"><img src="img/banner.jpg"></div></div><div class="menu"><ul><li><a href="index.html">Accueil</a></li><li><a href="metiers.html">Métiers</a></li><li><a href="annuaire.html">Annuaire</a></li><li><a href="association.html">Association</a></li><li class="adherer"><a href="adherer.html">ADHERER !</a></li><li><a href="charte.html">Charte</a></li><li><a href="galerie.html">Galerie</a></li><li><a href="contact.php">Contact</a></li></ul></div><div class="content"><h1>Rejoignez-nous! Adhérez !</h1><div class="chapeau">Pour intégrer le réseau, il suffit de rencontrer les membres lors de ces rassemblements publics ou lors de ses réunions ouvertes.<br/>
Ainsi, vous pouvez postuler par connaissance de l'un des membres.<br/><br/>
Merci de télécharger les documents ci-dessous pour initier votre inscription:</div><a href="charte.html">- La charte EcoBatissonS<br/></a><a target="_new" href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015.pdf">- La demande d'adhésion<br/></a><a target="_new" href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/LIVRET%20d%27ACCUEIL%20EBS%202015.pdf">- Le livret d'accueil<br/><br/>
</a><div class="chapeau">Envoie de la demande par courrier à :<br/>
ECOBATISSONS<br/>
744 chemin du Pré Claux 83440 SEILLANS</div><div class="text">Toute admission doit faire l'objet d'un agrément de la commission "Adhésions"
selon la procédure inscrite dans le<a target="_new" href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/LIVRET%20d%27ACCUEIL%20EBS%202015.pdf"> Réglement intérieur</a> EcoBatissonS.</div><h2>Catégories d'adhérents</h2><h3>Membres actifs</h3><div class="text">Agissent pour le développement de nos valeurs.
Composés principalement de professionnels en activité ou retraités.
C'est la seule catégorie qui nécessite d'être parrainé par un membre du conseil d'administration,
afin de conserver l'état d'esprit et les valeurs de l'association.<br/><br/>
Cotisation annuelle = 240 euros (au pro-rata temporis).<br/><br/>
Merci de remplir la<a target="_new" href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015.pdf"> demande d'adhésion PRO et Porteur de projets</a> et la version Word de la<a target="_new" href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015%20-%20FICHE%20de%20RENSEIGNEMENT%20word.doc"> fiche de renseignement.</a></div><h3>Porteurs de projets</h3><div class="text">Viennent pour bénéficier des connaissances d'EcoBatissonS.<br/>
Composés de tous porteurs de projets, publics ou privés.<br/><br/>
Cotisation annuelle = 40 euros.<br/><br/>
Merci de remplir la<a target="_new" href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015.pdf"> demande d'adhésion PRO et Porteur de projets</a> et la version Word de la<a target="_new" href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015%20-%20FICHE%20de%20RENSEIGNEMENT%20word.doc"> fiche de renseignement.</a></div><h3>Sympathisants</h3><div class="text">Apportent leur soutien, humain ou financier, au développement de l'association.<br/>
Merci d'inscrire sur papier libre ou par courriel vos coordonnées et vos motivations<br/><br/>
Cotisation annuelle = 20 euros.<br/><br/>
Merci de remplir la<a target="_new" href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015%20-%20FICHE%20de%20RENSEIGNEMENT%20sympathisant%20word.doc"> demande d'adhésion sympathisant.</a></div><h2>Dons et mécenats</h2><div class="text">Les adhérents de toutes catégories, ainsi que des mécènes extérieurs,
peuvent contribuer au fonctionnement de EcoBatissonS en faisant des dons.
Ceux-ci ouvrent droit à un <b>crédit d'impôt de 66% de la somme versée pour les particuliers et 60% pour les sociétés.</b>
</div></div><footer class="footer">Graphisme infographisme Stéphanie Goutte
</footer><script src="js/lightbox-plus-jquery.min.js"></script>

jade/adherer.jade
include ../includes/banner

.content
    h1 Rejoignez-nous! Adhérez !

    .chapeau.
        Pour intégrer le réseau, il suffit de rencontrer les membres lors de ces rassemblements publics ou lors de ses réunions ouvertes.<br/>
        Ainsi, vous pouvez postuler par connaissance de l'un des membres.<br/><br/>
        Merci de télécharger les documents ci-dessous pour initier votre inscription:
    a(href="charte.html").
        - La charte EcoBatissonS<br/>
    a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015.pdf").
        - La demande d'adhésion<br/>
    a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/LIVRET%20d%27ACCUEIL%20EBS%202015.pdf").
        - Le livret d'accueil<br/><br/>

    .chapeau.
        Envoie de la demande par courrier à :<br/>
        ECOBATISSONS<br/>
        744 chemin du Pré Claux 83440 SEILLANS
    .text
        | Toute admission doit faire l'objet d'un agrément de la commission "Adhésions"
        | selon la procédure inscrite dans le
        a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/LIVRET%20d%27ACCUEIL%20EBS%202015.pdf")  Réglement intérieur
        |  EcoBatissonS.

    h2 Catégories d'adhérents
    h3 Membres actifs

    .text
        | Agissent pour le développement de nos valeurs.
        | Composés principalement de professionnels en activité ou retraités.
        | C'est la seule catégorie qui nécessite d'être parrainé par un membre du conseil d'administration,
        | afin de conserver l'état d'esprit et les valeurs de l'association.<br/><br/>
        | Cotisation annuelle = 240 euros (au pro-rata temporis).<br/><br/>
        | Merci de remplir la
        a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015.pdf")  demande d'adhésion PRO et Porteur de projets
        |  et la version Word de la
        a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015%20-%20FICHE%20de%20RENSEIGNEMENT%20word.doc")  fiche de renseignement.


    h3 Porteurs de projets

    .text
        | Viennent pour bénéficier des connaissances d'EcoBatissonS.<br/>
        | Composés de tous porteurs de projets, publics ou privés.<br/><br/>
        | Cotisation annuelle = 40 euros.<br/><br/>
        | Merci de remplir la
        a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015.pdf")  demande d'adhésion PRO et Porteur de projets
        |  et la version Word de la
        a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015%20-%20FICHE%20de%20RENSEIGNEMENT%20word.doc")  fiche de renseignement.


    h3 Sympathisants
    .text
        | Apportent leur soutien, humain ou financier, au développement de l'association.<br/>
        | Merci d'inscrire sur papier libre ou par courriel vos coordonnées et vos motivations<br/><br/>
        | Cotisation annuelle = 20 euros.<br/><br/>
        | Merci de remplir la
        a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015%20-%20FICHE%20de%20RENSEIGNEMENT%20sympathisant%20word.doc")  demande d'adhésion sympathisant.

    h2 Dons et mécenats
    .text.
        Les adhérents de toutes catégories, ainsi que des mécènes extérieurs,
        peuvent contribuer au fonctionnement de EcoBatissonS en faisant des dons.
        Ceux-ci ouvrent droit à un <b>crédit d'impôt de 66% de la somme versée pour les particuliers et 60% pour les sociétés.</b>

include ../includes/footer
