annuaire.html
<!DOCTYPE html><html><head lang="en"><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Eco-batissons</title><link rel="stylesheet" href="css/main.css"><link rel="stylesheet" href="css/libs/lightbox.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Great+Vibes" rel="stylesheet"><script src="http://livejs.com/live.js"></script></head><body></body></html><div class="header"><div class="logo"><div class="logo-child"><img src="img/logo.jpg"></div><div class="text"> <img src="img/ensemble.jpg" style="max-width:306px"><p style="color:#008ece; font-weight:600">Accueil projet - 07 68 78 71 61 - contact@ecobatissons.fr</p></div><a href="https://www.facebook.com/ecobatissons/" target="_new"><img src="img/fb.png"></a></div><div class="frise"><img src="img/banner.jpg"></div></div><div class="menu"><ul><li><a href="index.html">Accueil</a></li><li><a href="metiers.html">Métiers</a></li><li><a href="annuaire.html">Annuaire</a></li><li><a href="association.html">Association</a></li><li class="adherer"><a href="adherer.html">ADHERER !</a></li><li><a href="charte.html">Charte</a></li><li><a href="galerie.html">Galerie</a></li><li><a href="contact.php">Contact</a></li></ul></div><div class="content"><h1>Annuaire EcoBatissonS</h1><div class="liste"><i class="fa fa-file-pdf-o"></i><a target="_new" href="./annuaire_ebs2016.pdf">Téléchargez ici la liste des professionnels EcoBatissonS</a><iframe src="https://www.google.com/maps/d/embed?mid=zhTL2-XoLZxs.k9VffMEYUDxc&amp;hl=fr" width="640" height="480"></iframe></div><div class="details"><a href="https://maps.google.com/maps/ms?msa=0&amp;msid=211644981769307272323.0004da2c16abc4b008c00&amp;hl=fr&amp;ie=UTF8&amp;ll=43.445282,6.300424&amp;spn=0.662531,0.953223&amp;t=h&amp;source=embed">Afficher sur une carte plus grande</a></div></div><footer class="footer">Graphisme infographisme Stéphanie Goutte
</footer><script src="js/lightbox-plus-jquery.min.js"></script>

jade/annuaire.jade
include ../includes/banner

.content
    h1 Annuaire EcoBatissonS

    .liste
        i.fa.fa-file-pdf-o
        a(target='_new', href="./annuaire_ebs2016.pdf") Téléchargez ici la liste des professionnels EcoBatissonS
        iframe(src="https://www.google.com/maps/d/embed?mid=zhTL2-XoLZxs.k9VffMEYUDxc&hl=fr",width="640", height="480")

    .details
        a(href="https://maps.google.com/maps/ms?msa=0&msid=211644981769307272323.0004da2c16abc4b008c00&hl=fr&ie=UTF8&ll=43.445282,6.300424&spn=0.662531,0.953223&t=h&source=embed")
            | Afficher sur une carte plus grande
include ../includes/footer
