jade/association.jade
include ../includes/banner

.content(style="background-image: url('img/frise.jpg')")
    h1 L'association
    
    h2 Organigramme

    .chapeau.
        EcoBatissonS est une association loi 1901, déclarée en préfecture du Var le 05 février 2010.<br/>
        La dernière assemblée générale ordinaire s'est tenue le 13 avril 2013 et a permis l'élection du nouveau conseil d'administration et du nouveau bureau :

    h2 Membres du Conseil d'Administration
    p (Conformément aux statuts, le CA doit être composé de 3 à 15 membres, élus par l'assemblée générale ordinaire annuelle)

    img.assos(src='img/association/association1.png')  

    h2 Membres du bureau
    p (Conformément aux statuts, le bureau doit être composé de 3 à 6 membres, élus par le CA)
    
    img.assos(src='img/association/association2.png')  

include ../includes/footer

association.html
<!DOCTYPE html><html><head lang="en"><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Eco-batissons</title><link rel="stylesheet" href="css/main.css"><link rel="stylesheet" href="css/libs/lightbox.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Great+Vibes" rel="stylesheet"><script src="http://livejs.com/live.js"></script></head><body></body></html><div class="header"><div class="logo"><div class="logo-child"><img src="img/logo.jpg"></div><div class="text"> <img src="img/ensemble.jpg" style="max-width:306px"><p style="color:#008ece; font-weight:600">Accueil projet - 07 68 78 71 61 - contact@ecobatissons.fr</p></div><a href="https://www.facebook.com/ecobatissons/" target="_new"><img src="img/fb.png"></a></div><div class="frise"><img src="img/banner.jpg"></div></div><div class="menu"><ul><li><a href="index.html">Accueil</a></li><li><a href="metiers.html">Métiers</a></li><li><a href="annuaire.html">Annuaire</a></li><li><a href="association.html">Association</a></li><li class="adherer"><a href="adherer.html">ADHERER !</a></li><li><a href="charte.html">Charte</a></li><li><a href="galerie.html">Galerie</a></li><li><a href="contact.php">Contact</a></li></ul></div><div style="background-image: url('img/frise.jpg')" class="content"><h1>L'association</h1><h2>Organigramme</h2><div class="chapeau">EcoBatissonS est une association loi 1901, déclarée en préfecture du Var le 05 février 2010.<br/>
La dernière assemblée générale ordinaire s'est tenue le 13 avril 2013 et a permis l'élection du nouveau conseil d'administration et du nouveau bureau :
</div><h2>Membres du Conseil d'Administration</h2><p>(Conformément aux statuts, le CA doit être composé de 3 à 15 membres, élus par l'assemblée générale ordinaire annuelle)</p><img src="img/association/association1.png" class="assos"><h2>Membres du bureau</h2><p>(Conformément aux statuts, le bureau doit être composé de 3 à 6 membres, élus par le CA)</p><img src="img/association/association2.png" class="assos"></div><footer class="footer">Graphisme infographisme Stéphanie Goutte
</footer><script src="js/lightbox-plus-jquery.min.js"></script>
