charte.html
<!DOCTYPE html><html><head lang="en"><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Eco-batissons</title><link rel="stylesheet" href="css/main.css"><link rel="stylesheet" href="css/libs/lightbox.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Great+Vibes" rel="stylesheet"><script src="http://livejs.com/live.js"></script></head><body></body></html><div class="header"><div class="logo"><div class="logo-child"><img src="img/logo.jpg"></div><div class="text"> <img src="img/ensemble.jpg" style="max-width:306px"><p style="color:#008ece; font-weight:600">Accueil projet - 07 68 78 71 61 - contact@ecobatissons.fr</p></div><a href="https://www.facebook.com/ecobatissons/" target="_new"><img src="img/fb.png"></a></div><div class="frise"><img src="img/banner.jpg"></div></div><div class="menu"><ul><li><a href="index.html">Accueil</a></li><li><a href="metiers.html">Métiers</a></li><li><a href="annuaire.html">Annuaire</a></li><li><a href="association.html">Association</a></li><li class="adherer"><a href="adherer.html">ADHERER !</a></li><li><a href="charte.html">Charte</a></li><li><a href="galerie.html">Galerie</a></li><li><a href="contact.php">Contact</a></li></ul></div><div class="content"><div class="tract"><img src="img/charte.jpg"></div><h1>Charte des membres professionnels de l'association EcoBatissonS</h1><h3>Les membres du réseau s’engagent à :</h3><ol class="charte"><li>Fournir des informations et des prestations de qualité, dans le respect de l’environnement, de l'homme et de la santé ;</li><li>Utiliser prioritairement des matériaux sains, écologiques et locaux issus le plus possible des circuits courts, ainsi que des équipements respectueux de l’environnement et de la santé ;</li><li>Réduire au maximum l’impact environnemental de ses pratiques professionnelles mesurable en énergie grise (valeur contenue en tonne équivalent CO2) ;</li><li>Posséder au sein de son entreprise, les compétences professionnelles nécessaires à l’exécution des travaux prévus dans les règles de l’art, acquises par la formation initiale ou continue et par une pratique confirmée, être à jour de ses obligations légales et disposer des garanties légales couvrant explicitement l’ensemble des activités et travaux réalisés ;</li><li>Pratiquer des prix justes concernant les produits et les services facturés ;</li><li>Accepter la réalisation d’un questionnaire de satisfaction auprès du client, à l’issue d’une prestation ;</li><li>Partager ses savoirs et expériences au sein du réseau de professionnels et dans le cadre de formations ; éventuellement, accueillir sur chantier des membres qui en font la demande et apporter son aide sur un chantier à un membre du réseau qui en fait la demande ;</li><li>Contribuer, équitablement, au fonctionnement d’EcoBatissonS (participation financière, matérielle, intellectuelle, solidaire...selon ses possibilités) ;</li><li>Promouvoir EcoBatissonS, ses valeurs et son réseau, à travers ses activités professionnelles ou individuelles.
</li></ol><h2>Ces engagements constituent l’identité fondamentale du réseau EcoBatissonS. Ils sont gages de confiance et de respect au sein de l'association.</h2><div class="tract"><img src="img/charte2.jpg"></div></div><footer class="footer">Graphisme infographisme Stéphanie Goutte
</footer><script src="js/lightbox-plus-jquery.min.js"></script>

jade/charte.jade
include ../includes/banner

.content
    .tract
        img(src="img/charte.jpg")

    h1 Charte des membres professionnels de l'association EcoBatissonS

    h3 Les membres du réseau s’engagent à :

    ol.charte
        li.
            Fournir des informations et des prestations de qualité, dans le respect de l’environnement, de l'homme et de la santé ;
        li.
            Utiliser prioritairement des matériaux sains, écologiques et locaux issus le plus possible des circuits courts, ainsi que des équipements respectueux de l’environnement et de la santé ;
        li.
            Réduire au maximum l’impact environnemental de ses pratiques professionnelles mesurable en énergie grise (valeur contenue en tonne équivalent CO2) ;
        li.
            Posséder au sein de son entreprise, les compétences professionnelles nécessaires à l’exécution des travaux prévus dans les règles de l’art, acquises par la formation initiale ou continue et par une pratique confirmée, être à jour de ses obligations légales et disposer des garanties légales couvrant explicitement l’ensemble des activités et travaux réalisés ;
        li.
            Pratiquer des prix justes concernant les produits et les services facturés ;
        li.
            Accepter la réalisation d’un questionnaire de satisfaction auprès du client, à l’issue d’une prestation ;
        li.
            Partager ses savoirs et expériences au sein du réseau de professionnels et dans le cadre de formations ; éventuellement, accueillir sur chantier des membres qui en font la demande et apporter son aide sur un chantier à un membre du réseau qui en fait la demande ;
        li.
            Contribuer, équitablement, au fonctionnement d’EcoBatissonS (participation financière, matérielle, intellectuelle, solidaire...selon ses possibilités) ;
        li.
            Promouvoir EcoBatissonS, ses valeurs et son réseau, à travers ses activités professionnelles ou individuelles.

    h2 Ces engagements constituent l’identité fondamentale du réseau EcoBatissonS. Ils sont gages de confiance et de respect au sein de l'association.
    .tract
        img(src="img/charte2.jpg")

include ../includes/footer
